<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Borrower Home</title>
</head>



<body>




<form id="creditRequestForm" method="POST" action="/crRequest">


    Amount :<input type="number" name="amount" min="0"/>
    Repayment Date :<input type="date" name="repayDate"/>
    Submit:<input type="submit" name="submit"/>

</form>
<script>
    document.onload=function () {
        if("<%= token%>"!==undefined)
            document.cookie="token=" + "<%=token%>";
    }

</script>

</body>
</html>