<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Borrower Home</title>
</head>

<script>
    function call() {
        window.location.href="./crList";
    }

</script>


<body>



<h1>New Credit Request</h1>
<form id="creditRequestForm" method="POST" action="./crRequest">


    Amount :<input type="number" name="amount" min="0"/>
    Repayment Date :<input type="date" name="repayDate"/>
    Submit:<input type="submit" name="submit"/>

</form>

<br>
<br>

<h1>Previous Requests List</h1>
<input  class="but" type="button" value="My Credit Requests List" onclick="call()"/>



</body>
</html>