<!DOCTYPE html>
<html>
<head>
    <title>Lender Sign Up</title>
    <script>

        function check() {
            var ele=document.getElementById('lSignUpForm').elements;
            if((ele[2].value===ele[3].value))
                return true;
            else
            {
                ele[2].value = "";
                ele[3].value="";
                return false;
            }

        }
    </script>
</head>
<body>


<form id="lSignUpForm" method="POST" action="/lSignUp" onsubmit="return check()">

    Name: <input type="text" name="name"/>
    Email: <input type="email" name="email"/>
    Password(min 6 digits): <input type="password" name="password" minlength="6"/>
    Confirm Password: <input type="password" name="password1" minlength="6"/>
    Submit:<input type="submit" name="submit"/>


</form>




</body>
</html>
