<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Borrower Home</title>
</head>

<script>
    function call() {
        window.location.href="./crList";
    }

    function calll() {
        window.location.href="./borrowerList";
    }

</script>


<body>



<br>
<br>

<h1>Previous Requests List</h1>
<input  class="but" type="button" value=" Credit Requests List" onclick="call()"/>


<br>

<h1>Borrower List</h1>
<input  class="but" type="button" value=" Borrower List List" onclick="calll()"/>



</body>
</html>